06b_absolute_OM_residuals_vs_SSB.png
06c_absolute_residuals_by_biomass_class.png
13_productivity_R_per_SSB.png
13_productivity_R_per_SSB_roll5.png
14_bootstrap_BH_b_parameter.png
15_RPS_vs_SSB_compensation.png
15_moving_window_BH_a.png
16_log_RPS_vs_SSB_compensation.png
16_moving_window_BH_b.png
17_bootstrap_BH_a_b_correlation.png
17_moving_window_sigmaR.png
18_compensation_vs_overcompensation_BH_Ricker_segmented.png
18_moving_window_BH_curves_selected.png
19_Q3_recruitment_residuals_vs_Q2_mean_spawner_age.png
20_Q3_recruitment_residuals_vs_Q2_prop_SSB_age1.png
21_Q3_cohort_strength_classification.png
21_Q3_recruitment_residuals_vs_Q2_prop_SSB_age2plus.png
22_Q3_recruitment_residuals_by_cohort_strength.png
23_Q3_cohort_strength_vs_Q2_SSB.png
